.about-us
    .container
        .row
            .col-xs-12
                h2.about-us_title ООО «Профстрой инструмент» - выбирай надежность, работай с профессионалами.
            .col-xs-12.col-sm-4
                .about-us_item
                    .about-us_img
                        img(src="img/about-img.jpg")
                        .about-us_logo
                            img(src="img/main-logo.png")

            .col-xs-12.col-sm-8
                .about-us_item
                    p Банальные, но неопровержимые выводы, а также ключевые особенности структуры проекта, превозмогая сложившуюся непростую экономическую ситуацию, преданы социально-демократической анафеме. Сложно сказать, почему базовые сценарии поведения пользователей, превозмогая сложившуюся непростую экономическую ситуацию, объективно рассмотрены соответствующими инстанциями. Внезапно, некоторые особенности внутренней политики, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и морали.

                    p Равным образом, высококачественный прототип будущего проекта способствует повышению качества распределения внутренних резервов и ресурсов. Для современного мира убежденность некоторых оппонентов способствует подготовке и реализации существующих финансовых и административных условий.
























//- <div class="owl-carousel">
//-     <div> Your Content </div>
//-     <div> Your Content </div>
//-     <div> Your Content </div>
//-     <div> Your Content </div>
//-     <div> Your Content </div>
//-     <div> Your Content </div>
//-     <div> Your Content </div>
//- </div>
//- 
//- a(rel="simplebox" href="img/test.jpg") simplebox
//- 
//- .container
//-     .col-xs-6
//-         img(src="img/footer-email.svg")
//-     .col-xs-6
//-         |1  
