





















//- <div class="owl-carousel">
//-     <div> Your Content </div>
//-     <div> Your Content </div>
//-     <div> Your Content </div>
//-     <div> Your Content </div>
//-     <div> Your Content </div>
//-     <div> Your Content </div>
//-     <div> Your Content </div>
//- </div>
//- 
//- a(rel="simplebox" href="img/test.jpg") simplebox
//- 
//- .container
//-     .col-xs-6
//-         img(src="img/footer-email.svg")
//-     .col-xs-6
//-         |1  
