


.box(style="height:2000px;")


.wow-box
	p.wow.fadeInLeft
		|Your ContentYour ContentYour ContentYour ContentYour ContentYour ContentYour Content
	p Your ContentYour ContentYour ContentYour ContentYour ContentYour ContentYour Content
	p Your ContentYour ContentYour ContentYour ContentYour ContentYour ContentYour Content

.select-block
	select.select
		option test
		option test
		option test
	


<div class="owl-carousel">
	<div> Your Content </div>
	<div> Your Content </div>
	<div> Your Content </div>
	<div> Your Content </div>
	<div> Your Content </div>
	<div> Your Content </div>
	<div> Your Content </div>
</div>

a(rel="simplebox" href="img/test.jpg") simplebox
