.main
    .header
        .header-item.header-top
            .container
                .row
                    .col-xs-12.col-md-8
                        nav.main-nav
                            ul
                                li
                                    a(href="#") О нас
                                li
                                    a(href="#") Оплата и доставка
                                li
                                    a(href="#") Гарантия
                                li
                                    a(href="#") Партнерам
                                li
                                    a(href="#") Юр.лицам
                                li
                                    a(href="#") Контакты

                    .col-xs-12.col-md-4
                        .header-top_right
                            a(href="#").header-link.log-in Войти
                            a(href="#").header-link.order-link Оформить заказ


        .header-item.header-middle
            .container
                .row
                    .col-xs-12.col-sm-12.col-md-4
                        .header-middle_item
                            img(src="img/main-logo.png")
                    .col-xs-12.col-sm-4.col-md-3
                        .header-middle_item
                            ul.header-schedule
                                li График работы:
                                li пн-пт: 10:00-20:00
                                li сб-вс: выходной
                    .col-xs-12.col-sm-4.col-md-3
                        .header-middle_item
                            ul.main-contact
                                li 
                                    a(href="mailto:info@ps-ins.ru") info@ps-ins.ru
                                li
                                    a(href="tel:+74957207010") +7 (495) 720-70-10
                                li г.Москва, Лазаревский пр. 18 стр. 2
                    .col-xs-12.col-sm-4.col-md-2
                        .header-middle_item
                            button.btn.main-btn.header-btn
                                |Заказать звонок

        .header-item.header-bottom
            .container
                .row
                    .col-xs-12.col-sm-3.p0
                        .catalog-menu
                            button.dropdown-btn 
                                span Каталог товаров
                            ul.dropdown-menu
                                li.dropdown-menu_inner
                                    span.dropdown-link Инструмент для подготовительных работ
                                    ul
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест    
                                li.dropdown-menu_inner
                                    span.dropdown-link Инструмент для нанесения лакокрасочных материалов
                                    ul
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест    
                                li.dropdown-menu_inner 
                                    span.dropdown-link Столярный и слесарный инструмент
                                    ul
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест  
                                li.dropdown-menu_inner 
                                    span.dropdown-link Дополнительный инструмент
                                    ul
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест  
                                li.dropdown-menu_inner 
                                    span.dropdown-link Режущий инструмент
                                    ul
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест  
                                li.dropdown-menu_inner 
                                    span.dropdown-link Инструмент для работы с плиткой, стеклом и обоями
                                    ul
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест  
                                li.dropdown-menu_inner 
                                    span.dropdown-link Измерительный инструмент
                                    ul
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест
                                        li
                                            a(href="#") Тест  

                    .col-xs-12.col-sm-7
                        form.form-search
                            label
                                input(type="text" placeholder="Название товара или артикул")
                                button(type="submit").form-search_btn Поиск...    
                    .col-xs-12.col-sm-2
                        .basket
                            a(href="#")
                                .basket-img
                                    img(src="img/basket-icon.svg")
                                    span.basket-count 0
                                p Корзина    
    .container
        .row
            .col-xs-12
                .header-banner
                    p Всю весну в этом году
                    p Тают цены на инструмент для<br> внутренней отделки
                    button.btn.main-btn.banner-btn Перейти в каталог...
    .advantage
        .container
            .row
                .col-xs-12.col-sm-6.col-md-3
                    .advantage-item.advantage-shipping
                        .advantage-item_inner
                            p Быстрая доставка
                            span Или самовывоз со склада
                .col-xs-12.col-sm-6.col-md-3
                    .advantage-item.advantage-warranty
                        .advantage-item_inner
                            p Гарантия
                            span Возврат товара или обмен
                .col-xs-12.col-sm-6.col-md-3
                    .advantage-item.advantage-range
                        .advantage-item_inner
                            p Широкий ассортимент
                            span Более 10 000 наименований
                .col-xs-12.col-sm-6.col-md-3
                    .advantage-item.advantage-payment
                        .advantage-item_inner
                            p Удобная система оплаты
                            span Наличный и безнал. расчет
