.main
    .header
        .header-item.header-top
            .container
                .row
                    .col-xs-12.col-md-8
                        nav.main-nav
                            ul
                                li
                                    a(href="#") О нас
                                li
                                    a(href="#") Оплата и доставка
                                li
                                    a(href="#") Гарантия
                                li
                                    a(href="#") Партнерам
                                li
                                    a(href="#") Юр.лицам
                                li
                                    a(href="#") Контакты

                    .col-xs-12.col-md-4
                        .header-top_right
                            a(href="#").header-link.log-in Войти
                            a(href="#").header-link.order-link Оформить заказ


        .header-item.header-middle
            .container
                .row
                    .col-xs-12.col-sm-12.col-md-4
                        .header-middle_item
                            img(src="img/main-logo.png")
                    .col-xs-12.col-sm-4.col-md-3
                        .header-middle_item
                            ul.header-schedule
                                li График работы:
                                li пн-пт: 10:00-20:00
                                li сб-вс: выходной
                    .col-xs-12.col-sm-4.col-md-3
                        .header-middle_item
                            ul.main-contact
                                li 
                                    a(href="mailto:info@ps-ins.ru") info@ps-ins.ru
                                li
                                    a(href="tel:+74957207010") +7 (495) 720-70-10
                                li г.Москва, Лазаревский пр. 18 стр. 2
                    .col-xs-12.col-sm-4.col-md-2
                        .header-middle_item
                            button.btn.main-btn.header-btn
                                |Заказать звонок

        .header-item
